:root {
  --background-primary: #0e1118;
  --background-secondary: #141b23;
  --background-secondary-tr: rgba(42, 52, 59, 0.30);
  --background-secondary-tr2: rgba(42, 52, 59, 0.15);
  --background-hovered: rgba(47, 57, 64, 0.40);
  --background-accent: #203f88;
  --background-accent-tr: rgba(32, 63, 136, 0.30);
  --background-accent-tr2: rgba(30, 156, 240, 0.08);
  --foreground-primary: #e1e1e1;
  --foreground-middle: #c9c9c9;
  --foreground-secondary: #899098;
  --foreground-accent: #1e9cf0;
  --foreground-accent-rgb: 30, 156, 240;
  --elements-border: #262d34;
  --elements-border-light: #485461;
  --elements-border-subtle: rgba(255, 255, 255, 0.04);
  --background-inset: rgba(255, 255, 255, 0.03);
  color-scheme: dark;
}
