<nav class="site-nav navbar navbar-expand-lg" aria-label="Primary navigation">
  <div class="container-xl">
    <a class="navbar-brand brand-mark" href="{{ '/' | relative_url }}" aria-label="The Team home">
      <span class="brand-symbol" aria-hidden="true">T</span>
      <span>The Team</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#primary-navigation" aria-controls="primary-navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="primary-navigation">
      <ul class="navbar-nav ms-auto align-items-lg-center">
        <li class="nav-item"><a class="nav-link" href="{{ '/docs/getting-started/' | relative_url }}">Get Started</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ '/docs/concepts/' | relative_url }}">Concepts</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ '/docs/repository-guide/' | relative_url }}">Repository Guide</a></li>
        <li class="nav-item"><a class="btn btn-primary ms-lg-3" href="{{ '/docs/getting-started/' | relative_url }}">Read Docs</a></li>
      </ul>
    </div>
  </div>
</nav>
